<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<meta charset="UTF-8">
	<title>In Room Dining Statistics</title>
	
	<style>
		.container {
			margin-top: 20px;
		}

		#demo-description {
			width: 600px;
			margin: 0 auto 20px;
		}

		.input-lg {
			height: 45px;
		}
		

		#results {
			padding: 0;
			margin: 10px auto;
			font-size: 12px;
		}

		#results h4 {
			margin: 0 0 10px;
		}

		#results h4 span {
			vertical-align: middle;
			
		}
		
		#results h4 span .waiting{
			color: blue;
			vertical-align: middle;
		}
		
		#results h4 span .processed{
			color: green;
			vertical-align: middle;
		}
		
		#results h4 span .canceled{
			color: red;
			vertical-align: middle;
		}

		#results h4 .label, #results h4 .badge {
			font-size: 10px;
			margin-left: 3px;
		}

		#results>li {
			padding: 10px;
			font-family: Helvetica;
			position: relative;
			overflow: hidden;
		}

		#results>li ul {
			margin-bottom: 10px;
			padding-left: 20px;
		}
		
		#results .table {
			border-collapse:collapse; 
			
		}
		
		#results .room {
			
		}
		
		#results .table tr:hover {
			background-color: #f5f5f5
		}
		
		#results .table th {
			width:100px; 
			word-wrap:break-word;
			}	
		
		#results .table td {
			width:300px; 
			word-wrap:break-word;
			
			}
		
		.ui-datepicker-calendar {
			display: none;
			}

		</style>
		
		
		
	<!--This is the template for each record -->
	<script id="order-list-template" type="text/handlebars">
	{{#each results}}
		<li data-id="{{id}}" data-status="{{status}}" class="list-group-item">
			<table class = "table table-bordered">
			<tr>
				<th>Total:</th>
				<td><span class="total"><b>{{total}}</b></span></td>
			</tr>
			<tr>
				<th>Cancelled:</th>
				<td><span class="cancelled">{{cancelled}}</span></td>
			</tr>
			<tr>
				<th>Processed Manually:</th>
				<td><span class="processed">{{processed}}</span></td>
			</tr>
			<tr>
				<th>Failed:</th>
				<td><span class="failed">{{failed}}</span></td>
			</tr>
			<tr>
				<th>Completed:</th>
				<td><span class="completed">{{completed}}</span></td>
			</tr>			
			</table>
			
			<table class = "table table-bordered">
			<tr>
				<th>Order Placed at:</th>
			</tr>
			<tr>	
				<th>06:01-12:00</th>
				<td><span class="placed1">{{placed1}}</span></td>
			</tr>
			<tr>
				<th>12:01-18:00</th>
				<td><span class="placed2">{{placed2}}</span></td>
			</tr>
			<tr>
				<th>18:01-00:00</th>
				<td><span class="placed3">{{placed3}}</span></td>
			</tr>
			<tr>
				<th>00:01-06:00</th>
				<td><span class="placed4">{{placed4}}</span></td>
			</tr>
			</table>
			
			<table class = "table table-bordered">
			<tr>
				<th>Order Delivered at:</th>
			</tr>
			<tr>	
				<th>06:01-12:00</th>
				<td><span class="deliver1">{{deliver1}}</span></td>
			</tr>
			<tr>
				<th>12:01-18:00</th>
				<td><span class="deliver2">{{deliver2}}</span></td>
			</tr>
			<tr>
				<th>18:01-00:00</th>
				<td><span class="deliver3">{{deliver3}}</span></td>
			</tr>
			<tr>
				<th>00:01-06:00</th>
				<td><span class="deliver4">{{deliver4}}</span></td>
			</tr>
			</table>
		</li>
		{{else}}
		<li class="alert alert-warning">No results found</li>
	{{/each}}
	</script>
	<!-- End of template -->
	
</head>
<body onload="checkLogin(); sessionEmail(); yearPicker(); todayDate();">
	<div class="pageTop container" id="pageTop" >
		<table class="ptTable col-sm-12 bg-info">
			<tr>
				<td class="col-sm-3" id="topMsg" >
				</td>
				<td>
				</td>
				<td class="col-sm-1" align="right">
					<a href="index.html" >Orders</a>
				</td>
				<td class="col-sm-1"  align="right">
					<a href="statistics.html" >Statistics</a>
				</td>
				<td class="col-sm-1" align="right">
					<a href="javascript:void(0);" onclick="logout();">Logout</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="container">
		<h1>In Room Dining Statistics</h1>
		<form id="search">
		<table class="table">
			<thead>
				<tr>
					<th>Order Year:</th>
					<th>Order Month:</th>
					<th>Room:</th>
					<th></th>
				</tr>
				<tr>
					<td><select  class="form-control year" id="year" ></select ></td>
					<td><select class="form-control month" id="month" >
											<option value="1" selected>January</option>
											<option value="2">February</option>
											<option value="3">March</option>
											<option value="4">April</option>
											<option value="5">May</option>
											<option value="6">June</option>
											<option value="7">July</option>
											<option value="8">August</option>
											<option value="9">September</option>
											<option value="10">October</option>
											<option value="11">November</option>
											<option value="12">December</option>
										</select></td>
					<td><input class="form-control room-input" type="text" id="room"></td>
					<td><button type="submit" class="btn btn-primary add-blog" type="button">Search</button></td>
				</tr>
			</thead>
		</table>
		</form>
		<ul id="results" class="list-group"></ul>
	</div>
	
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="bower_components/handlebars/handlebars.js"></script>
	<script src="js/local.js"></script>
	<script src="js/stat_script.js"></script>
	<script src="js/jquery-ui.js"></script>
	

</body>
</html>
